<h1>We're so sorry to see you go, <%= @user.firstname %></h1>
<p>
  If you every want to come back in visit us at <%= @url %>, let us know!
  <br>
</p>
<p>
  We'd welcome any feedback on how we can improve.
</p>
<p>Thanks for joining and have a great day!</p>